<div class="club-container">
  <div class="club-title">
    <h1>Welcome to the <b>{{ club?.club_name }}</b> Club</h1>
  </div>

  <div class="club-logo-card">
    <img [src]="club?.logo" [alt]="club?.club_name" />
  </div>

  <div class="club-info-card">
    <h3>Club Head</h3>
    <p>{{ club?.club_head }}</p>
  </div>

  <div class="club-description-card">
    <h3>Description</h3>
    <p>{{ club?.description }}</p>
  </div>

  <div class="club-action-card">

    <div class="club members list">
      <button (click)="toggleMembersList()">
        {{ showMembers ? 'Hide' : 'Show' }} Members
      </button>
    
      <!-- Conditional rendering of ClubMembersComponent
      <app-club-members
        *ngIf="showMembers"
        [members]="members">
      </app-club-members>
    </div> -->

    <button class="join-button" (click)="joinClub()" *ngIf="club">Join Club</button>
  </div>
</div>
