form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  button {
    background-color: rgba(23, 146, 142, 0.933);
    color: white;
    font-weight: bold;
  }

  button:hover{
    background-color: rgba(12, 74, 72, 0.933);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  h4 {
    font-weight: bold;
  }
  